# Node.js
**/node_modules
**/dist
**/dist-ssr
**/.output
**/.vinxi
**/.tanstack
**/.nitro
**/.wrangler

# Env files
**/.env
**/.env.*
!**/.env.example

# Logs
**/logs
**/*.log
**/npm-debug.log*

# Editors & OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
